/* ./src/input.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* common  styles */

 *, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-optical-sizing: auto;
    font-style: normal;
    background-color: white;
    overflow-y: auto;
}

/* prevent layout loading from anchoring scroll (avoid jumps when images load) */
#content-container {
    overflow-anchor: none;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

img {
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.first-img-cover>img:first-of-type,
.first-img-cover>figure:first-of-type>img {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

/* Define the fade-in keyframe animation */
@keyframes fadeIn {
    from {
    opacity: 0;
    }

    to {
    opacity: 1;
    }
}

.masonry-container {
    margin: 20px;
    column-count: 2;
    column-gap: 1rem;
}
/* ability to have 1 column on mobile */
.masonry-container.masonry-mobile-1 {
    column-count: 1;
}

@media (min-width: 768px) {
    .masonry-container {
    column-count: 4;
    }

    .masonry-container.masonry-2 {
    column-count: 2;
    }

    .masonry-container.masonry-3 {
    column-count: 3;
    }

    .masonry-container.masonry-4 {
    column-count: 4;
    }

    .masonry-container.masonry-6 {
    column-count: 5;
    }
}

.masonry-container img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    break-inside: avoid;
}

figure {
    position: relative;
}

figure figcaption {
    position: absolute;
    bottom: 15px;
    width: 100%;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: white;
}

figure figcaption.caption-center {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

@media (max-width: 767px) {
    figure figcaption {
    font-size: 1.5rem;
    }
}

main img {
    margin-bottom: 0.5rem;
}

div.sidescroll-gallery {
    height: 100vh;
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    /* Optional: enables snap scrolling */
    -webkit-overflow-scrolling: touch;
    /* For smooth scrolling on iOS */
    scrollbar-width: none;
    /* For Firefox */
}

div.sidescroll-gallery img {
    height: 100vh;
    width: auto;
    /* let width scale naturally (keeping aspect ratio) */
    max-width: none;
    /* prevent max-width skewing images */
    flex-shrink: 0;
    /* prevent images from shrinking */
    scroll-snap-align: start;
}

div.sidescroll-gallery div {
    min-width: 300px;
    height: 100vh;
    padding-top: 88px;
    box-sizing: border-box;
}

div.sidescroll-gallery::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, Opera */
}
