body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -0.05em;
    font-weight: 700;
    font-style: normal;
    background-color: white;
    color: #f5f5f5;
    overflow-y: auto;
}

#logo-link, 
.font-title {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

.font-body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik Mono One", monospace;
}
h1 {
    font-size: 2rem;
    line-height: 1.1;
    margin: 1rem 0 1rem 0;
}
h2 {
    font-size: 1.5rem;
    line-height: 1.1;
    margin: 1rem 0 1rem 0;
}
h3 { 
    font-size: 1.2rem;
    line-height: 1.1;
    margin: 1rem 0 1rem 0;
}

ul li {
    margin-left: 1.5rem;
    list-style-type: disc;
}

.quiz-card {
    color: black!important;
}